[submodule "gym-trainer"]
        path = gym-trainer
        url = https://github.com/MarsParallax/gym-trainer.git
[submodule "S1/C++/TP/TP2"]
        path = S1/C++/TP/TP2
        url = https://epudx.polytech.upmc.fr/git/cpp-tp2-3670958/
[submodule "S1/C++/TP/TP1"]
        path = S1/C++/TP/TP1
        url = https://epudx.polytech.upmc.fr/git/cpp-tp1-3670958/
[submodule "S1/C++/TP/TP3/cpp-tp3-3670958"]
	path = S1/C++/TP/TP3/cpp-tp3-3670958
	url = https://epudx.polytech.upmc.fr/git/cpp-tp3-3670958/
[submodule "S1/S1/C++/TP/TP4"]
	path = S1/S1/C++/TP/TP4
	url = https://epudx.polytech.upmc.fr/git/cpp-tp4-3670958
[submodule "S1/C++/cpp_smoke"]
	path = S1/C++/cpp_smoke
	url = https://github.com/MarsParallax/cpp_smoke.git
[submodule "S2/HPC/HPC"]
	path = S2/HPC/HPC
	url = https://github.com/ArthurZucker/HPC.git
